* {
    box-sizing: border-box;
}

body {
    height: 100%;
    background-color: #f5f6fa;
}

button{
    width: 70px;
    height: auto;
    background-color: #ff9f43;
    border: none;
    border-radius: 5px;
    transition-duration: .4s;
}

button:hover {
    background-color: #feca57;
}

button:focus {
    border: none;
    outline-color: #b2bec3;
}

.row {
    display: flex;
    line-height: 50%;
    margin: 5px 5px 5px 0px;
}

.row * {
    margin-right: 5px;
}

img {
    width: auto;
    height: 50%;
}

input {
    height: 40px;
    width: auto;
}